@model Shop

<table>
    <tr>
        <th>Name</th>
    </tr>
</table>
@using (Html.BeginForm("SubmitNewItem", "Shops", FormMethod.Post))
{
    <tr>
        <td>@Html.TextBoxFor(c => c.Name)</td>
    </tr>
    
    <input type = "submit" value = "submit" />
}