@model List<Shop>

<table class="table">
    <tr>
        <th>Shop</th>
    </tr>
    @foreach(var shop in @Model)
    {
        <tr>
            <td>@Html.ActionLink(@shop.Name, "GoToShop", "Shops", shop)</td>
        </tr>
    }
</table>