@model Shop

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
</table>
@using (Html.BeginForm("SubmitUpdateShop", "Shops", FormMethod.Post))
{
    <tr>
        <td>@Html.TextBoxFor(s => s.Id, new {@readonly = "readonly"})</td>
        <td>@Html.TextBoxFor(s => s.Name)</td>
    </tr>
    
    <input type = "submit" value = "submit" />
}