@model Shop

@using (Html.BeginForm("Update", "Shops", FormMethod.Post))
{
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(s => s.Id, new { @readonly = "readonly" })</td>
            <td>@Html.TextBoxFor(s => s.Name)</td>
            <td><input type="submit" value="submit" /></td>
        </tr>
    </table>
    @Html.ValidationSummary(false)
}
